# Archivos y directorios generados por compilación
build/
*.o
*.bfs*
*.iddfs*
*.astar*
*.idastar*
*.succ
*.abst

# Ejecutables
bin/

# Dependencias generadas por el compilador
.dep/

# Archivos de respaldo y temporales
*~
.vscode/

# Archivos de configuración de Visual Studio Code
.vscode/

# Archivos de depuración
*.dSYM/
